-- Slider data ekleme
IF NOT EXISTS (SELECT 1 FROM Sliders WHERE Title = 'Savunma Sanayi')
INSERT INTO Sliders (Title, Subtitle, ImageUrl, ButtonText, ButtonUrl, SortOrder, IsActive, CreatedDate) 
VALUES ('Savunma Sanayi', 'Tam bağımsız Türkiye için hiç durmadan çalışmaya devam edeceğiz.', '/images/slideshow/slide_1920x1080.png', 'Ürünlerimizi İnceleyin', '/Product', 1, 1, GETDATE());

IF NOT EXISTS (SELECT 1 FROM Sliders WHERE Title = 'Balistik Koruma')
INSERT INTO Sliders (Title, Subtitle, ImageUrl, ButtonText, ButtonUrl, SortOrder, IsActive, CreatedDate) 
VALUES ('Balistik Koruma', 'NATO standartlarında güvenlik çözümleri ile güvende kalın.', '/images/slideshow/slide_1920x1080.png', 'Ürünleri Keşfedin', '/Product', 2, 1, GETDATE());

IF NOT EXISTS (SELECT 1 FROM Sliders WHERE Title = 'ILISAN Kalitesi')
INSERT INTO Sliders (Title, Subtitle, ImageUrl, ButtonText, ButtonUrl, SortOrder, IsActive, CreatedDate) 
VALUES ('ILISAN Kalitesi', 'Ar-Ge ve inovasyonla sektöre değer katıyoruz.', '/images/slideshow/slide_1920x1080.png', 'Hakkımızda', '/Home/About', 3, 1, GETDATE());

SELECT 'Slider data başarıyla eklendi!' as Message;